@import 'nib'
@import 'mixins'

body.home
  padding 60px 0 20px
  bgc #fff
  color #444

.form-wrapper
  bgc #bada55
  padding 30px

p.happy
  fs 1.4em
h1
  line-height 1.2
  mb 20px

h3, h4
  mb 30px
  fw normal

h6
  fs 14px

a.ongreen
  color #fff
  text-decoration underline

.highlight
  color #08c

.btn
  background linear-gradient(top, #fdce33, #dc891a)
  border-radius 0
  border-top solid 1px #dca71a
  //border 1px solid #46594b
  color #fff
  padding 10px
  text-shadow 0px 1px 4px #644113
  transition all 300ms ease-in-out

  &:hover
    background linear-gradient(top, #ddae13, #ba690a)
    border-radius 0
    border-top solid 1px #bc870a
    //border 1px solid #46594b
    color #fff
    padding 10px
    text-shadow 0px 1px 4px #644113

.row.poweredby
  pt 40px

.poweredbytwil
  pt 5px

img.madeforwu
  width 80px
  height 58px

